body {
	width: 50%;
	margin: 0 auto;
	color: #9B9B9B;
}

h1, h2, h3, h4, h5, h6 {
	color: #036;
}

h1.page-title, .textbox-splash, .textbox-button {
	text-align: center;
}

.carousel {
	display: flex;
	flex-wrap: wrap;
}

.carousel .carousel-product { 
	width:50%;
    padding: 0 15px;
    box-sizing: border-box;
    position: relative;
}

.carousel-product .product-sale {
	color: white;
	background-color: #036;
	padding: 4px 14px;
	position: absolute;
	top: 15px;
	left: 15px;
}

.button-viewall {
	color: white;
	background-color: #036;
	padding: 8px 12px 10px;
}

@media only screen and (min-width: 768px) {
	body {
		width: 100%;
	}

	.carousel .carousel-product { 
		width:25%
	}
}