html, body {
	margin: 0;
	color: #9B9B9B;
}

h1, h2, h3, h4, h5, h6 {
	color: #036;
}

h1.page-title, .textbox-splash, .textbox-button {
	text-align: center;
}

.carousel {
	display: flex;
	flex-wrap: wrap;
}

.carousel .carousel-product { 
	width:50%
}

.carousel-product .product-sale {
	color: white;
	background-color: #036;
	padding: 4px 14px;
}

.button-viewall {
	color: white;
	background-color: #036;
	padding: 8px 12px 10px;
}

@media only screen and (min-width: 768px) {
	.carousel .carousel-product { 
		width:25%
	}
}