<!DOCTYPE html>
<html ng-app="AJWMW">
    <head>
        <title>Andrew Jennings - We Make Websites test</title>
        <link href="andywmwtest.css" rel="stylesheet">
    </head>
    
    <body ng-controller="homeCtrl as ctrl">
        <h1 class="page-title">{{ctrl.pageTitle}}</h1>
        
        <div class="textbox-splash">
        	<p>{{ctrl.pageDescription}}</p>
        </div>
        
        <div class="carousel">
        	<a href="#" ng-click="ctrl.addToCart(product)" class="carousel-product" ng-repeat="product in ctrl.products">
            	<span class="product-sale" ng-if="product.onSale">Sale</span>
                <div class="product-image">
                	<img ng-src="{{product.image}}" />
	                <span>Add to cart</span>
                </div>
                <h2 class="product-title">{{product.title}}</h2>
                <p class="product-price">{{product.price | currency : "£"}}</p>
            </a>
        </div>
                    
        <div class="textbox-button">
        	<a href="#" class="button-viewall">View collection</a>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js"></script>
        <script src="andywmwtest.js"></script>
    </body>
</html>
